<style>
.articles .title {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    .title {
        flex-direction: column;
    }
}

.articles dd {
    margin-bottom: 1em;
}
</style>

<table>
    <dl class="articles">
        <% for article in articles %>
        <dt class="title">
            <a href="<%=article.url%>"><%= article.title %></a> 
            <small class="article-info">
                <i>(<%= article.reading_time %>)</i>
                <%= article.date %>
            </small>
        </dt>
        <dd>
            <%= article.preview %> 
        </dd>
        <% end %>
    </dl>
</table>