---
import PostsList from "../components/PostsList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import SeriesList from "../components/SeriesList.astro";
import Age from "../components/Age";
import QuoteBlock from "../components/QuoteBlock.astro";
import { RiContactsFill } from "@remixicon/react";
import SmallVoice from "../assets/general/smallvoice.gif";
import Cassian from "../assets/general/cassian-button.avif";
import Zack from "../assets/general/";
import { Image } from "astro:assets";

const posts = await getCollection("blog");

const sortedPosts = posts
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => !post.data.planned)
  .slice(0, 3);

const featuredPosts = posts.filter((post) => post.data.featured);

const featuredSeries = (await getCollection("series")).filter((s) => s.data.featured);
---

<style>
  #webneighbor-container a {
    text-decoration: underline;
    color: white;
  }
</style>

<BaseLayout>
  <div class="space-y-10">
    <div class="space-y-4">
      <h1 class="text-4xl text-black dark:text-white font-black">
        Hi! &#128075; My name is <span
          class="underline underline-offset-2 decoration-fuchsia-600 dark:decoration-fuchsia-400"
        >
          Zack Sargent.
        </span>
      </h1>
      <p>
        Welcome to my blog! I'm a <Age client:load /> year-old software engineer who needs to finish
        this bio.
      </p>

      <div class="space-x-1">
        <a
          href="/contact"
          class="inline-flex items-center justify-center space-x-2 py-2 px-3 rounded-md bg-slate-300 hover:bg-slate-400 dark:bg-slate-800 dark:hover:bg-slate-700"
        >
          <RiContactsFill />
          <span>Contact Info</span>
        </a>

        <QuoteBlock attribution="The Engineer" work="Team Fortress 2" padding="large">
          I'm an engineer. That means I solve problems.
        </QuoteBlock>
      </div>
      {
        featuredPosts.length > 0 && (
          <div class="space-y-5">
            <h1 class="text-3xl text-black dark:text-white">Featured Posts</h1>
            <PostsList posts={featuredPosts} />
          </div>
        )
      }
      <div class="space-y-5">
        <div class="flex items-center justify-between space-x-2">
          <h1 class="text-3xl text-black dark:text-white">Latest Posts</h1>
          <a
            href="/blog"
            class="inline-flex items-center justify-center py-0.5 px-3 bg-blue-600 hover:bg-blue-800 rounded-full text-sm text-white"
            >View all</a
          >
        </div>
        <PostsList posts={sortedPosts} />
      </div>
      {
        featuredSeries.length > 0 && (
          <div class="space-y-5">
            <div class="flex items-center justify-between space-x-2">
              <h1 class="text-3xl text-black dark:text-white">Featured Series</h1>
              <a
                href="/series"
                class="inline-flex items-center justify-center py-0.5 px-3 bg-blue-600 hover:bg-blue-800 rounded-full text-sm text-white"
              >
                View all
              </a>
            </div>
            <SeriesList series={featuredSeries} />
          </div>
        )
      }

      <br />

      <div class="mt-10 leading-10" id="webneighbor-container">
        <h2 class="text-2xl text-black dark:text-white">WebNeighbors</h2>
        <p>AWESOME PEOPLE!! RAH!</p>
        <div class="flex">
          <a href="https://smallvoice.neocities.org/" target="_blank" class="m-1">
            <Image src={SmallVoice} alt="smallvoice" />
          </a>
          <a href="https:/cassian.cc" target="_blank" class="m-1">
            <Image src={Cassian} alt="Cassian" />
          </a>
        </div>
        <div class="text-sm leading-6">
          <p><strong>What is this?</strong></p>
          <p>
            These are 88x31 images that link to my friends' websites. <a href="/contact"
              >Let me know</a
            > if you have one.
          </p>
          <p>
            Want inspiration? Check out this <a
              href="https://cyber.dabamos.de/88x31/"
              target="_blank">collection</a
            >, this
            <a href="https://hekate2.github.io/buttonmaker/" target="_blank">button maker</a>, or
            this <a href="https://indieweb.org/88x31" target="_blank">wiki article</a>.
            <p>Here is mine:</p>
            <img class="m-1" src="/assets/88x31.gif" alt="zack.fyi" />
          </p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
