<style>
.articles .title {
    display: flex;
    justify-content: space-between;
}

.articles .article-info {
    margin-left: 0.4em;
}

.articles {
    margin-left: 1em;
    width: fit-content;
}

@media screen and (max-width: 800px) {
    .title {
        flex-direction: column;
    }
}
</style>

<h1>Blog Posts</h1>
<b><a href="/blog/index.html">Sort chronologically</a></b>

<% for tag, articles in tags %>
    <h3> <a href="/tag/<%=tag%>.html"><%=tag%></a> (<%=articles.size%>) </h3>
    <div class="articles">
        <% for article in articles %>
        <div class="title">
            <a href="<%=article.url%>"><%= article.title %></a> 
            <small class="article-info">
                <i>(<%= article.reading_time %>)</i>
                <%= article.date %>
            </small>
        </div>
        <% end %>
    </div>
<% end %>